<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CAROR621" connectionString="Data Source=192.168.112.67\MSSQLDEVAU;Initial Catalog=KACTUS;Persist Security Info=True;User ID=KACTUS;Password=ojf93ksddlfjsh04*85**ffFD" providerName="System.Data.SqlClient;Connection Timeout=120" />
    <add name="KAUTO" connectionString="Data Source=192.168.112.67\MSSQLDEVAU;Initial Catalog=KACTUS;Persist Security Info=True;User ID=KACTUS;Password=ojf93ksddlfjsh04*85**ffFD" providerName="System.Data.SqlClient;Connection Timeout=120" />
    <add name="SA" connectionString="Data Source=KTFP1;Initial Catalog=TestConfiguration;Persist Security Info=True;User ID=sa;Password=12345678" providerName="System.Data.SqlClient;Connection Timeout=120" />
    <!-- <add name="UCalida1" connectionString="Data Source=KTFP1;Initial Catalog=KACTUSTESTGH;Persist Security Info=True;User ID=UCalida1;Password=C175126128127176174" providerName="System.Data.SqlClient;Connection Timeout=120" /> -->
    <add name="UCalida1" connectionString="Data Source=DWKBD1\SQL2016;Initial Catalog=KACTUSC5;Persist Security Info=True;User ID=UCalida1;Password=Medi20sp" providerName="System.Data.SqlClient;Connection Timeout=120" />
    <add name="UNatalia1" connectionString="Data Source=KTFP1;Initial Catalog=KACTUSTESTGH;Persist Security Info=True;User ID=UCalida1;Password=C175126128127176174" providerName="System.Data.SqlClient;Connection Timeout=120" />
    <add name="ADesar2" connectionString="Data Source=SQL2014\KACTUSDC;Initial Catalog=KACTUSTEST;Persist Security Info=True;User ID=ADesar2;Password=C175126128127176174" providerName="System.Data.SqlClient;Connection Timeout=120" />
    <add name="KDesar2" connectionString="Data Source=SQL2014\KACTUSDC;Initial Catalog=KACTUSCALIDAD;Persist Security Info=True;User ID=KDesar2;Password=C175126128127176174" providerName="System.Data.SqlClient;Connection Timeout=120" />
    <add name="KDesar3" connectionString="Data Source=SQL2014\KACTUSDC;Initial Catalog=KACTUSCALIDAD;Persist Security Info=True;User ID=KDesar2;Password=C175126128127176174" providerName="System.Data.SqlClient;Connection Timeout=120" />
    <add name="TNATALIA" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=ORALINUX)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=KACTUSCA)));User Id=KCT_CALI;Password=calidad;" providerName="Oracle.DataAccess.Client" />
    <add name="ODesar2" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=ORALINUX)(PORT=1522)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=KACTUSTEST)));User Id=kactus;Password=kactus2019;" providerName="Oracle.DataAccess.Client" />
    <add name="ODESAR" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=ORALINUX)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=KACTUSGHSELF)));User Id=Kactus;Password=kactus2019;" providerName="Oracle.DataAccess.Client" />
    <add name="OAUDI" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=ORALINUX)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=KACTUSGHSELF)));User Id=Kactus;Password=kactus2019;" providerName="Oracle.DataAccess.Client" />
    <add name="SDesar" connectionString="Data Source=SQL2014\KACTUSDC;Initial Catalog=KACTUSGHSELF;Persist Security Info=True;User ID=SDesar;Password=C175126128127176174" providerName="System.Data.SqlClient;Connection Timeout=120" />
    <add name="KNatalia" connectionString="Data Source=SQL2014\KACTUSDC;Initial Catalog=KACTUSCALIDAD;Persist Security Info=True;User ID=KDesar2;Password=C175126128127176174" providerName="System.Data.SqlClient;Connection Timeout=120" />
    <add name="DRoselyC" connectionString="Data Source=SQL2014\KACTUSDC;Initial Catalog=KACTUSC2;Persist Security Info=True;User ID=DRoselyC;Password=C181176125131126127183192" providerName="System.Data.SqlClient;Connection Timeout=120" />
    <add name="JAIMJP" connectionString="Data Source=SQL2014\CLIENTESDW;Initial Catalog=KacMed;Persist Security Info=True;User ID=JAIMJP;Password=Medi20sp" providerName="System.Data.SqlClient;Connection Timeout=120" />
    <add name="CINDYD" connectionString="Data Source=sql2016\sql2016;Initial Catalog=KacColM1;Persist Security Info=True;User ID=CINDYD;Password=col2020**" providerName="System.Data.SqlClient;Connection Timeout=120" />
	  <!--<add name="KADMON" connectionString="Data Source=192.168.112.67\MSSQLDEV;Initial Catalog=KACTUS;Persist Security Info=True;User ID=KACTUS;Password=sistemasdev" providerName="System.Data.SqlClient;Connection Timeout=120" />-->
	  <!-- <add name="KACTUS" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.11.59)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=KACTUS18C)));User Id=KACTUS;Password=ABCD1234;" providerName="Oracle.DataAccess.Client" /> -->
    <add name="CFBALLEN" connectionString="Data Source=SQL2014\CLIENTESDW;Initial Catalog=SVPK;Persist Security Info=True;User ID=SVPK;Password=SVPK" providerName="System.Data.SqlClient;Connection Timeout=120" />
    <add name="KCT_SVPK" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=ORALINUX)(PORT=1522)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=KACTUS)));User Id=KCT_SVPK;Password=KCT_SVPK;" providerName="Oracle.DataAccess.Client" />
    <add name="KTEST" connectionString="Data Source=SQL2014\clientesdw;Initial Catalog=KACTUS;Persist Security Info=True;User ID=KPREPAP;Password=KPREPAP" providerName="System.Data.SqlClient;Connection Timeout=120" />
    <add name="KPREPAP" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=ORALINUX)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=KACTUSVA)));User Id=KPREPAP;Password=KPREPAP;" providerName="Oracle.DataAccess.Client" />
	<add name="KNEAUTOMNo" connectionString="Data Source=DWKBD1\SQL2016;Initial Catalog=KactusC1;Persist Security Info=True;User ID=KNEAUTOM;Password=Medi20sp" providerName="System.Data.SqlClient;Connection Timeout=120" />
    <add name="KNEAUTOM" connectionString="Data Source=DWKBD1\SQL2016;Initial Catalog=KactusC3;Persist Security Info=True;User ID=KOBA;Password=Medi23sp" providerName="System.Data.SqlClient;Connection Timeout=120" />
	<add name="KOBA" connectionString="Data Source=DWKBD1\SQL2016;Initial Catalog=KactusC3;Persist Security Info=True;User ID=KOBA;Password=Medi23sp" providerName="System.Data.SqlClient;Connection Timeout=120" />
	<add name="KSDesar" connectionString="Data Source=DWKBD1\SQL2016;Initial Catalog=KACTUSC5;Persist Security Info=True;User ID=UNatalia;Password=Medi20sp" providerName="System.Data.SqlClient;Connection Timeout=120" />
    <add name="KPREPA" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=DWORABD1)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=KACTUSC3)));User Id=KPREPA;Password=KPREPA;" providerName="Oracle.DataAccess.Client" />
	<add name="KAUTONE" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=DWORABD1)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=KACTUSC3)));User Id=KAUTONE;Password=Medi20sp;" providerName="Oracle.DataAccess.Client" />
	<add name="UNatalia" connectionString="Data Source=DWKBD1\SQL2016;Initial Catalog=KACTUSC5;Persist Security Info=True;User ID=UNatalia;Password=Medi20sp" providerName="System.Data.SqlClient;Connection Timeout=120" />
	 <add name="KDemos" connectionString="Data Source=DWKBD1\SQL2016;Initial Catalog=KACTUSC7;Persist Security Info=True;User ID=KDemos;Password=ABCD1234" providerName="System.Data.SqlClient;Connection Timeout=120" />
	 <add name="DWKE" connectionString="Data Source=DWKBD1\SQL2016;Initial Catalog=Dwkerrores;Persist Security Info=True;User ID=DWKE;Password=C143145127129128126144142" providerName="System.Data.SqlClient;Connection Timeout=120" />
	  <add name="DWKEORA" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=DWORABD1)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=DWKERRORES)));User Id=kactus;Password=kactus;" providerName="Oracle.DataAccess.Client" />
	 <add name="KFABILU" connectionString="Data Source=10.71.1.12,1733;Initial Catalog=KACTUSAUTO;Persist Security Info=True;User ID=KFABILU;Password=C143145127129128126144142" providerName="System.Data.SqlClient;Connection Timeout=120" />
	<add name="ONATALIA" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=DWORABD1)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=KACTUSC5)));User Id=kactus;Password=KACTUS;" providerName="Oracle.DataAccess.Client" />
	<add name="KACTUS" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=ORALINUX)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=KACTUSVA)));User Id=KACTUS;Password=TEMPO10;" providerName="Oracle.DataAccess.Client" />
	<add name="GRANGOSE" connectionString="Data Source=10.238.83.163, 1633;Initial Catalog=KACTUSSE;Persist Security Info=True;User ID=GRANGOSE;Password=C143145127119129126144142" providerName="System.Data.SqlClient;Connection Timeout=120" />
	<add name="BATBTA" connectionString="Data Source=181.237.193.109\ALVAROLEON;Initial Catalog=KAC694;Persist Security Info=True;User ID=BATBTA;Password=BATBTA" providerName="System.Data.SqlClient;Connection Timeout=120" />
	<add name="KADMON" connectionString="Data Source=192.168.1.44,1633;Initial Catalog=KOBAPR;Persist Security Info=True;User ID=KADMON;Password=C143145127129128126144142" providerName="System.Data.SqlClient;Connection Timeout=120" />
  <add name="KADMOTUY" connectionString="Data Source=10.71.1.17, 1733;Initial Catalog=KACTUSTUPRU;Persist Security Info=True;User ID=KADMOTUY;Password=C143145127129128126144142" providerName="System.Data.SqlClient;Connection Timeout=120" />
  <add name="TPRUEBAS" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=DWORABD1)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=KACTUSC5)));User Id=kactus;Password=KACTUS;" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <appSettings>
    <add key="Project" value="KactusTest" />
    <add key="Collection" value="Ophelia_Test_V21" />
    <add key="ServerURL" value="http://dwtfskgh/tfs" />
    <add key="ServerPat" value="hndow43je47yjow3dlgubbbzwoygsptw2kbgq2gup6izupsovlta" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IKGnSmenwWCF">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IKGnSmenwWCF1">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IKGnSmenwWCF2">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IKGnSmenwWCF3">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IKGnSmenwWCF4">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IKGnSmenwWCF5">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IKGnSmenwWCF6">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IKGnSmenwWCF7">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IKGnSmenwWCF8">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IKGnSmenwWCF9">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IKGnSmenwWCF">
          <reliableSession inactivityTimeout="4.00:00:00" enabled="true" />
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IKGnSmenwWCF1">
          <reliableSession inactivityTimeout="4.00:00:00" enabled="true" />
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IKGnSmenwWCF2">
          <reliableSession inactivityTimeout="4.00:00:00" enabled="true" />
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IKGnSmenwWCF3">
          <reliableSession inactivityTimeout="4.00:00:00" enabled="true" />
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IKGnSmenwWCF4">
          <reliableSession inactivityTimeout="4.00:00:00" enabled="true" />
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IKGnSmenwWCF5">
          <reliableSession inactivityTimeout="4.00:00:00" enabled="true" />
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IKGnSmenwWCF6">
          <reliableSession inactivityTimeout="4.00:00:00" enabled="true" />
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IKGnSmenwWCF7">
          <reliableSession inactivityTimeout="4.00:00:00" enabled="true" />
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IKGnSmenwWCF8">
          <reliableSession inactivityTimeout="4.00:00:00" enabled="true" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dwprukb2.digitalware.com.co:8090/Kactus/KactusCoreServices/KGnSmenw.svc/ws"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IKGnSmenwWCF6"
        contract="SmenwSPEnv4.IKGnSmenwWCF" name="WSHttpBinding_IKGnSmenwWCF5" />
      <endpoint address="http://181.237.193.109:8080/Kactus/KactusCoreServices/KGnSmenw.svc/ws"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IKGnSmenwWCF1"
        contract="SmenWSp105.IKGnSmenwWCF" name="WSHttpBinding_IKGnSmenwWCF1" />
      <endpoint address="http://dwappprukbnew.digitalware.com.co:8080/MenuServices/KGnSmenw.svc/ws"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IKGnSmenwWCF5"
        contract="SmenwSPEnv3.IKGnSmenwWCF" name="WSHttpBinding_IKGnSmenwWCF3" />
      <endpoint address="http://opht4.digitalware.com.co:8080/Kactus/KactusCoreServices/KGnSmenw.svc/ws"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IKGnSmenwWCF"
        contract="KGnSmenw2.IKGnSmenwWCF" name="WSHttpBinding_IKGnSmenwWCF" />
      <endpoint address="http://dwkerrores.digitalware.com.co:8080/Kactus/KactusCoreServices/KGnSmenw.svc/ws"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IKGnSmenwWCF7"
        contract="SmenwErrores.IKGnSmenwWCF" name="WSHttpBinding_IKGnSmenwWCF6" />
      <endpoint address="http://ktest2.digitalware.com.co:8080/Kactus/KactusCoreServices/KGnSmenw.svc/ws"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IKGnSmenwWCF2"
        contract="SmenwSPEnv.IKGnSmenwWCF" name="WSHttpBinding_IKGnSmenwWCF2" />
      <endpoint address="http://dwtfsk.digitalware.com.co:8080/Kactus/KactusCoreServices/KGnSmenw.svc/ws"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IKGnSmenwWCF8"
        contract="SmenwSPEnv5.IKGnSmenwWCF" name="WSHttpBinding_IKGnSmenwWCF7" />
      <endpoint address="http://dwktest.digitalware.com.co:8080/Kactus/KactusCoreServices/KGnSmenw.svc/ws"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IKGnSmenwWCF4"
        contract="SmenwSPEnv2.IKGnSmenwWCF" name="WSHttpBinding_IKGnSmenwWCF4" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.2" newVersion="5.5.13.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>